body {
  font: 13px "Montserrat", sans-serif;
  background-image: url("/Images/BackgroundLightGrey.png");
  background-repeat: repeat;
  color: rgb(70, 70, 70);
}



/*****  Buttons ****/

#deleteButton {
    width: 200px;
    color: white;
    float: right;
}

#viewGameButton {
  color: white;
  width: 100px;
  height: 50px;
  float: left;
}

#gameIdElement {
    display: none;
}

#viewReviewButton {
  color: white !important;
  width: 200px;
}

#successfulModalCloseButton {
  width: 150px;
  height: 50px;
  font-size: 24px;
  margin: 0, auto;
  text-align: center;
}

.label-danger {
    position: absolute;
    left: 3px;
    top: 5px;
}

.bigMainButton {
    width: 180px;
    height: 60px;
    font-size: 20px;
    background-color: #27AE60;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    outline: none;
}

.bigMainButton:hover {
  background-color: rgb(33, 150, 81);
  outline-color: #58D68D;
  border-color: #27AE60;
}
.bigMainButton:focus {
  background-color: rgb(33, 150, 81) !important;
  outline-color: #58D68D !important;
  border-color: #27AE60 !important;
}

.bigMainButtonSecondary {
  width: 180px;
  height: 60px;
  font-size: 20px;
  background-color: rgb(158, 158, 158);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  outline: none;
}

.bigMainButtonSecondary:hover {
background-color: rgb(133, 133, 133);
outline-color: rgb(128, 128, 128);
border-color: rgb(107, 107, 107);
}
.bigMainButtonSecondary:focus {
background-color: rgb(83, 83, 83) !important;
outline-color: rgb(128, 128, 128) !important;
border-color: rgb(107, 107, 107) !important;
}

.successfulModalButton {
  color: white;
  width: 150px;
  height: 50px;
  font-size: 24px;
  margin: 0, auto;
  text-align: center;
}

/*  Green colours for all buttons. */
.hexButtons {
  color: white;
  background-color: #27AE60;
  outline-color: #58D68D;
  border-color: #27AE60;
}

.hexButtons:hover {
  color: white;
  background-color: rgb(33, 150, 81);
  outline-color: #58D68D;
  border-color: #27AE60;
}

.hexButtons:focus {
  color: white;
  background-color: rgb(33, 150, 81) !important;
  outline-color: #58D68D !important;
  border-color: #27AE60 !important;
}



/*****  Headings  *****/

.mainPageHeading {
  text-align: center;
  margin-top: 40px;
}


/*****  General Divs  *****/

.reviewContentDiv {
  background-image: url("/Images/LightGreenFabric.png");
  background-repeat: repeat;
  border: solid;
  border-color: rgb(168, 168, 168);
  border-radius: 5px;
  border-width: 2px;
  padding: 30px;
  margin: 30px auto;
}

.badgeDiv {
  background-color: white;
}

.gameButtonSection {
  padding: 20px 10px 20px 10px;
}

.alignCenterDiv {
  text-align: center;
}

.verticallyCentered {
  padding: 200px 0;
}



/*****  Badges  *****/

.badge {
  background-color: #27AE60 !important;
  margin-right: 5px !important;
}



/*****  Jumbotrons  *****/

.gameJumbotron {
  width: 70%;
  min-width: 900px;
  background-image: url("/Images/BackgroundLightGreen.png");
  background-repeat: repeat;
  border-color: #27AE60;
  border-style: outset;
  border-width: 5px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 20px 60px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 20px grey;
  animation: slideInLeft;
  animation-duration: 0.5s;

}

.reviewJumbotron {
  width: 60%;
  min-width: 900px;
  height: 400px;
  background-image: url("/Images/BackgroundLightGreen.png");
  background-repeat: repeat;
  border-color: #27AE60;
  border-style: outset;
  border-width: 5px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 20px 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 20px grey;
  animation: slideInLeft;
  animation-duration: 0.5s;
}



/*****  Navigation Bars *****/

/*  Green colours for all navigation bars. */
.hexNavbar {
  background-color: #27AE60;
}



/*****  Icons *****/

.material-icons.md-48 {
   font-size: 150px;
   margin: 50px;
}

#successIcon {
  color: #27AE60;
}

#failureIcon {
  color: rgb(206, 94, 94);
}



/*****  Spinners  *****/

#successfulPostModalSpinner {
  width: 150px;
  height: 150px;
  margin: 50px;
}



/*****  Modals  *****/

/*  Animations and opacity settings for all modals. */
.modal {
    animation: zoomIn;
    animation-duration: 0.5s;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

#successfulPostModalFooter {
  text-align: left;
  border-top: none;
}


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container-small {
      font-size: 16px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;

  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #27AE60;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #27AE60;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }