#mainProfileContentDiv {
    width: 70%;
    height: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    background-image: url('/Images/LightGreyFabric.png');
    background-repeat: repeat;
    box-shadow: 5px 10px 20px grey;
}

#userAvatar {
    width: 140px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(83, 83, 83);
    border-width: 2px;
    margin: 10px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: relative;
    z-index: 1;
    background-image: url('/Images/BackgroundDarkGreen.png');
    background-repeat: repeat;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}