#addNewReviewContainer {
    width: 60%;
    margin: 0 auto;
}

#ratingDiv {
    width: 900px;
    text-align: center;
    background-image: url('/Images/LightGreyFabric.png');
    background-repeat: repeat;
    padding: 30px;
    box-shadow: 5px 5px 10px grey inset;
    border: solid;
    border-color: rgb(190, 190, 190);
    border-radius: 20px;
    margin: 0 auto;
}

#showChooseGameModal {
    width: 60%;
    height: 70px;
}

#chooseGameButtonContianer {
    text-align: center;
    margin: 50px;
}

#chooseGameModalResultsContainer {
    height: 500px;
    overflow: scroll;
}

#searchIcon {
    margin-left: 30px;
    font-size: 30px;
    position: absolute;
}

#modalGameSearchButton {
    color: white !important;
}

.addReviewh5 {
    margin-top: 15px;
}

.hb,
.hb:before,
.hb:after {
	background-color: #27AE60 !important;
	border-left:1px solid #27AE60 !important;
	border-right:1px solid #27AE60 !important;
    color: white !important;
    outline: none !important;
}

.hb:hover,
.hb:hover:before,
.hb:hover:after {
	background-color: #27AE60; 
	border-left:1px solid #27AE60 !important;
	border-right:1px solid #27AE60 !important;  
    color: white !important;
    outline: none !important;
}


.down,
.down:before,
.down:after {
    background-color: rgb(30, 100, 59) !important;
	border-left:1px solid rgb(30, 100, 59)!important;
	border-right:1px solid rgb(30, 100, 59) !important;  
    color: white !important;
    outline: none !important;
}

.down,
.down:hover:before,
.down:hover:after {
    background-color: rgb(30, 100, 59) !important;
	border-left:1px solid rgb(30, 100, 59)!important;
	border-right:1px solid rgb(30, 100, 59) !important;  
    color: white !important;
    outline: none !important;
}

/* .hb:focus,
.hb:focus:before,
.hb:focus:after {
	background-color: rgb(30, 100, 59) !important;
	border-left:1px solid rgb(30, 100, 59)!important;
	border-right:1px solid rgb(30, 100, 59) !important;  
    color: white !important;
    outline: none !important;

} */

