#mainProfileContentDiv {
    width: 60%;
    height: 1100px;
    min-width: 1200px;
    margin: 0 auto;
    background-image: url('/Images/LightGreyFabric.png');
    background-repeat: repeat;
    box-shadow: 5px 10px 20px grey;
}

#userAvatar {
    width: 140px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(83, 83, 83);
    border-width: 2px;
    margin: 10px;
}

#userInformationDiv {
    float: right;
    width: 80%;
    min-width: 1000px;
}

#usernameHeading {
    font-size: 48px;
}

#statsDiv {
    margin: 30px 0px 30px 0px;
    width: 700px;
    padding: 20px;
}

#subStatsDiv {
    border: solid;
    border-radius: 5px;
    border-color: rgb(168, 168, 168);
    border-width: 1px;
    padding: 20px;
}

#latestReviewsText, #mostPopularReviewsText {
    width: 50%;
    min-width: 900px;
    margin: 0 auto;
}

.latestReviewsDiv {
    width: 50%;
    min-width: 900px;
    margin: 20px;
}

#latestReviewCard {
    height: 200px;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.658);
    background-image: url('/Images/LightGreyFabric.png');
}

#viewReviewButton {
    bottom: 5px;
}

#reviewCardContent {
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-height: 15px;        /* fallback */
    max-height: 58px;
}

#reviewCardTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}

#reviewCardFooter {
    background-image: url('/Images/LightGreyFabric.png');
    text-align: center;
}

.sideNavButton {
    width: 140px;
    margin: 10px;
    background-color: rgb(32, 107, 63);
}

.sidenav {
    height: 100%;
    width: 160px;
    position: relative;
    z-index: 1;
    background-image: url('/Images/BackgroundDarkGreen.png');
    background-repeat: repeat;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.homeHeading {
    margin: 50px 0px 30px 0px;
    color: rgb(97, 97, 97);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}