#viewGameButton {
    width: 200px;
    float: bottom;
}

#writeReview {
    width: 200px;
    float: right;
    float: bottom;
}

#buttonContainer {
    width: 100%;
    height: 60px;
}

#gameReviewCountArea {
    background-image: url("/Images/LightGreenFabric.png");
    background-repeat: repeat;
    border: solid;
    border-color: rgb(168, 168, 168);
    border-width: 2px;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    float: right;
    margin-left: 20px;
}

#searchAndFilterMainContainer {
    width: 60%;
    min-width: 900px;
    height: 70px;
    margin: 0 auto;
    padding: 40px 0px 5px 0px;
}

#gameSearch {
    float: left;
    max-width: 400px;
}

#resetButton {
    width: 100px;
    margin: 0px 10px 0px 10px;
}

#reviewDropdownButton {
    float: right;
    width: 100px;
}

#gameJumbotronUserGames {
    width: 60%;
}

#gameDescriptionElement {
    width: 70%;
    min-width: 500px;
    font-size: 18px;
    margin-bottom: 30px;
}

#gameTitleElement {
    width: 70%;
    min-width: 500px;
    font-size: 42px;
}

.noResultsText {
    text-align: center;
    font-size: 72px;
}