#reviewUserArea {
    background-image: url("/Images/LightGreenFabric.png");
    background-repeat: repeat;
    border: solid;
    border-color: rgb(168, 168, 168);
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    float: right;
}

#sideDiv {
    float: right;
    width: 300px;
    text-align: center;
}

#subscribeButton {
    width: 60%;
    float: right;
    margin: 10px 0px 10px 0px;
}

#viewProfileButton {
    width: 60%;
    float: right;
    margin: 10px 0px 10px 0px;
}

#viewReviewButton {
    margin-top: 10px;
    width: 100%;
}

#reviewRatingElement {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

#userReviewAvatar {
    float: left;
    width: 80px;
    margin: 0px 0px 10px 0px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(168, 168, 168);
    border-width: 2px;
}

#userReviewRankContainer {
    width: 80px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    float: left;
}

#reviewContentElement {
    width: 60%;
    height: 220px;
    font-size: 18px;
    margin: 10px 0px 20px 0px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(168, 168, 168);
    border-width: 2px;
    background-image: url("/Images/LightGreyFabric.png");
}

#reviewTitleElement {
    width: 60%;
    font-size: 2.05vw;
}

#reviewSubtitleElement {
    width: 60%;
    font-size: 1vw;
}

#userReviewRank {
    font-size: 12px;
}

#reviewUserText {
    width: 90%;
}

.userDivButtons {
    width: 150px;
    font-size: 18px;
}

/*  Setting a maximum size for fonts.   */
@media screen and (min-width: 1920px) {
    #reviewTitleElement {
       font-size: 38px;
    }
    #reviewSubtitleElement {
        font-size: 24px;
     }
}