#reviewUserArea {
    width: 300px;
    background-image: url("/Images/LightGreenFabric.png");
    background-repeat: repeat;
    border: solid;
    border-color: rgb(168, 168, 168);
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    float: right;
}

#addReviewButtonContainer {
    width: 60%;
    background-image: url("/Images/LightGreyFabric.png");
    background-repeat: repeat;
    box-shadow: 5px 5px 10px grey inset;
    border: solid;
    border-color: rgb(190, 190, 190);
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

#addButton {
    font-size: 120px;
    height: 200px;
    width: 200px;
    margin: 50px;
    border-radius: 500px;
    box-shadow: 5px 10px 20px grey;
}

#viewReviewButton {
    width: 100%;
    float: right;
    margin: 10px 0px 10px 0px;
}

#deleteButton {
    width: 100%;
    float: right;
    margin: 10px 0px 10px 0px;
}

#reviewTitleElement {
    width: 60%;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

}

#reviewSubtitleElement {
    width: 60%;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


#reviewContentElement {
    width: 60%;
    height: 220px;
    font-size: 18px;
    margin: 10px 0px 20px 0px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(168, 168, 168);
    border-width: 2px;
    background-image: url("/Images/LightGreyFabric.png");
}

#reviewRatingElement {
    width: 100%;
    margin: 0px 0px 10px 0px;
}