<!doctype html>
<html>

<head>
    <title>Add Game</title>

    <!-- All stylesheets and UI material. -->

    <!-- Bootstrap Stylesheet dependencies. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom client stylesheets. -->
    <link rel="stylesheet" href="CommonStylesheet.css">
    <link rel="stylesheet" href="Animations.css">
    <link rel="stylesheet" href="HexReviewsCreateAccountPageStylesheet.css">

    <!-- Custom icons and fonts. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- Top navigation bar. -->
    <nav class="navbar navbar-expand-lg navbar-dark hexNavbar">
        <a id="navTitle" class="navbar-brand" href="#">Hex Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="navLogin" class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a id="navCreateAccount" class="nav-link active" href="#">Create Account</a>
                </li>
                <li class="nav-item">
                    <a id="navAbout" class="nav-link" href="#">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page heading. -->
    <div class="page-header mainPageHeading">
        <h2>Sign up here!</h2>
    </div>

    <!-- All fields for adding in a new game. -->
    <div id="addNewGameArea">
        <form>
            <div class="form-group form-group-lg createAccountFormGroup">

                <h5 class="createAccounth5">Choose your username:</h5>
                <h5 id="invalidUsername"></h5> 
                <input id="userUsername" type="text" class="form-control" placeholder="Choose a Username" required>

                <h5 class="createAccounth5">Email Address:</h5>
                <input id="userEmailAddress" type="email" class="form-control" placeholder="Enter Email" required>

                <div id="passwordDiv">
                    <h5 class="createAccounth5">Password:</h5>
                    <h5 id="invalidPassword"></h5> 
                    <input id="userPassword" type="password" class="form-control" placeholder="Enter Password" required>

                    <h5 class="createAccounth5">Confirm password:</h5>
                    <h5 id="invalidPasswordConfirm"></h5> 
                    <input id="userPasswordConfirm" type="password" class="form-control" placeholder="Confirm Password"
                        required disabled>
                </div>

                <h5 class="createAccounth5">Choose Avatar:</h5>
                <input id="avatarUpload" type="file" class="form-control-file">

                <div id="avatarPreview">
                    <!-- Uploaded avatar will be shown here. -->
                </div>
            </div>
        </form>
        <div class="alignCenterDiv">
            <button id="createUserButton" type="submit" class="btn hexButtons">Create Account</button>
        </div>
    </div>

    <!-- All modals. -->

    <!-- Successful post modal. -->
    <div id="successfulPostModal" class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3 id="successModalTitle" class="modal-title">Please Wait...</h3>
                        <div id="successfulPostModalSpinner" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <i id="successIcon" class="material-icons md-48">done</i>
                        <i id="failureIcon" class="material-icons md-48">clear</i>
                    </div>
                </div>
                <div id="successfulPostModalFooter" class="modal-footer">
                    <h4 class="mr-auto" id="pleaseLogin"></h4>
                    <button id="successfulModalLoginButton" type="button"
                        class="btn hexButtons successfulModalButton">Login</button>
                    <button id="successfulModalCloseButton" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- All JavaScript material. -->

    <!-- JQuery JavaScript dependencies. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Boostrap JavaScript Dependencies. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Custom client JavaScript -->
    <script src="CommonLogic.js"></script>
    <script src="HexReviewsCreateAccountPageLogic.js"></script>

</body>

</html>