<!doctype html>
<html>

<head>
    <title>Admin Home</title>

    <!-- All stylesheets and UI material. -->

    <!-- Bootstrap Stylesheet dependencies. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom client stylesheets. -->
    <link rel="stylesheet" href="CommonStylesheet.css">
    <link rel="stylesheet" href="Animations.css">
    <link rel="stylesheet" href="HexReviewsAdminHomePageStylesheet.css">
    <link rel="stylesheet" href="HexReviewsUserHomePageStylesheet.css">


    <!-- Custom icons and fonts. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- Top navigation bar. -->
    <nav class="navbar navbar-expand-lg navbar-dark hexNavbar">
        <a class="navbar-brand" href="#">Hex Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="navHome" class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a id="navAddGame" class="nav-link" href="#">Add Game</a>
                </li>
                <li class="nav-item">
                    <a id="navViewGames" class="nav-link" href="#">View Games</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a id="navLogout" class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page heading. -->
    <div id="welcomeContainer" class="page-header mainPageHeading">
        <div id="userDiv">
            <h1 id="userWelcome"></h1>
            <div id="userSubDiv">
                <img id="userAvatar" src="" alt="">
            </div>
        </div>
        <div id="statsDiv">
            <h5 id="adminOpenRequests">Open Requests: </h5>
            <h5 id="totalReviews">Total Games: </h5>
            <h5 id="totalFollowers">Total Users: </h5>
        </div>
    </div>

    <div id="hexagonArray">
            <ul id="grid" class="clear">
                <li>
                    <button id="adminViewGamesButton" class="btn hexagon">
                        <i class="material-icons md-48 homeIcon">
                            view_list
                        </i>
                        <span id="adminViewGames" class="hexText">View Games</span>
                    </button>
                </li>
                <li>
                    <button id="adminAddGameButton" class="btn hexagon">
                        <i class="material-icons md-48 homeIcon">
                            build
                        </i>
                        <span id="adminAddGame" class="hexText">Add a Game</span>
                    </button>
                </li>
                <li>
                    <button id="adminGameRequests" class="btn hexagon">
                        <i class="material-icons md-48 homeIcon">
                            feedback
                        </i>
                        <span id="adminGameReq" class="hexText"> Game Requests</span>
                    </button>
                </li>
            </ul>
        </div>

    <!-- All JavaScript material. -->

    <!-- JQuery JavaScript dependencies. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Boostrap JavaScript Dependencies. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Custom client JavaScript -->
    <script src="CommonLogic.js"></script>
    <script src="HexReviewsAdminHomePageLogic.js"></script>

</body>

</html>