<!doctype html>
<html>

<head>
    <title>Add Game</title>

    <!-- All stylesheets and UI material. -->

    <!-- Bootstrap Stylesheet dependencies. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom client stylesheets. -->
    <link rel="stylesheet" href="CommonStylesheet.css">
    <link rel="stylesheet" href="Animations.css">
    <link rel="stylesheet" href="HexReviewsAddGamePageStylesheet.css">

    <!-- Custom icons and fonts. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

    <!-- Top navigation bar. -->
    <nav class="navbar navbar-expand-lg navbar-dark hexNavbar">
        <a class="navbar-brand" href="#">Hex Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="navHome" class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a id="navAddGame" class="nav-link active" href="#">Add Game</a>
                </li>
                <li class="nav-item">
                    <a id="navViewGames" class="nav-link" href="#">View Games</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Admin Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Delete User</a>
                        <a class="dropdown-item" href="#">Delete Review</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page heading. -->
    <div class="page-header mainPageHeading">
        <h2>Add a New Game</h2>
    </div>

    <!-- All fields for adding in a new game. -->
    <div id="addNewGameArea">
        <form>
            <div class="form-group form-group-lg addGameFormGroup">

                <!-- Game Title -->
                <h5 class="addGameh5">Game Title</h5>
                <input id="game_title" type="text" class="form-control" maxlength="60" placeholder="..." required>

                <h5 class="addGameh5">Description</h5>
                <textarea id="game_description" type="text" class="form-control" rows="4" placeholder="..."></textarea>

                <div class="row">
                    <div class="col">
                        <h5 class="addGameh5">Developer</h5>
                        <input id="game_developer" type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="col">
                        <h5 class="addGameh5">Publisher</h5>
                        <input id="game_publisher" type="text" class="form-control" placeholder="...">
                    </div>
                </div>

                <h5 class="addGameh5">Genres</h5>
                <div id="genreBadges" class="badgeDiv">
                </div>

                <button id="gameGenreButton" class="btn btn-primary btn-block tagBlockButton hexButtons"
                    class="btn btn-outline-secondary" type="button">Add Genre Tags</button>

                <h5 class="addGameh5">Age Rating</h5>
                <div id="ageRatingBadges" class="badgeDiv">
                </div>

                <button id="gameAgeRatingButton" class="btn btn-primary btn-block tagBlockButton hexButtons"
                    class="btn btn-outline-secondary" type="button">Add Age Rating Tags</button>

                <h5 class="addGameh5">Platforms</h5>
                <div id="platformBadges" class="badgeDiv">
                </div>

                <button id="gamePlatformsButton" class="btn btn-primary btn-block tagBlockButton hexButtons"
                    class="btn btn-outline-secondary" type="button">Add Platform Tags</button>

                <div class="row">
                    <div class="col">
                        <h5 class="addGameh5">Release Date</h5>
                        <input id="game_release_date" type="date" class="form-control" placeholder="...">
                    </div>
                    <div class="col">
                        <h5 class="addGameh5">Launch Price</h5>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">£</span>
                            </div>
                            <input id="game_launch_price" type="number" min="0.00" class="form-control" step="any"
                                placeholder="...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h5 class="addGameh5">Mulitplayer Capability</h5>
                        <label class="switch">
                            <input id="onlineCheckbox" type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="col">
                        <h5 class="addGameh5">Upload Images</h5>
                        <input id="imageUpload" type="file" class="form-control-file" multiple>
                    </div>
                </div>

                <div id="imagePreview">
                    <hr>
                    <!-- All uploaded images will be previewed here. -->
                </div>
            </div>
        </form>
        <div class="alignCenterDiv">
            <button id="addGameButton" class="bigMainButton">Submit</button>
            <button id="viewGamesPageButton" class="bigMainButtonSecondary">View Games</button>
        </div>
    </div>

    <!-- Modals -->
    <!-- Genre tag selection modal. -->
    <div id="genreTagModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Select Genres</h3>
                </div>
                <div class="modal-body">
                    <div class="custom-control custom-checkbox">
                        <div class="row">
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">Adventure
                                            <input type="checkbox" class="genresCheckbox" aria-label="Adventure">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Beat'em Up
                                            <input type="checkbox" class="genresCheckbox" aria-label="Beat'em Up">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Competitive
                                            <input type="checkbox" class="genresCheckbox" aria-label="Competitive">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Fighting
                                            <input type="checkbox" class="genresCheckbox" aria-label="Fighting">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">FPS
                                            <input type="checkbox" class="genresCheckbox" aria-label="FPS">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">First Person
                                            <input type="checkbox" class="genresCheckbox" aria-label="First Person">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Horror
                                            <input type="checkbox" class="genresCheckbox" aria-label="Horror">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Interactive
                                            <input type="checkbox" class="genresCheckbox"
                                                aria-label="Interactive Novel">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">MMO
                                            <input type="checkbox" class="genresCheckbox" aria-label="MMO">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Metroidvania
                                            <input type="checkbox" class="genresCheckbox" aria-label="Metroidvania">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Party Game
                                            <input type="checkbox" class="genresCheckbox" aria-label="Party Game">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Platformer
                                            <input type="checkbox" class="genresCheckbox" aria-label="Platformer">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr style="margin-bottom: 25px;">
                        <div class="row">
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">Racing
                                            <input type="checkbox" class="genresCheckbox" aria-label="Racing">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">RTS
                                            <input type="checkbox" class="genresCheckbox" aria-label="RTS">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Rhythm
                                            <input type="checkbox" class="genresCheckbox" aria-label="Rhythm">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Rogue Like
                                            <input type="checkbox" class="genresCheckbox" aria-label="Rogue Like">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">RPG
                                            <input type="checkbox" class="genresCheckbox" aria-label="RPG">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Sandbox
                                            <input type="checkbox" class="genresCheckbox" aria-label="Sandbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Shooter
                                            <input type="checkbox" class="genresCheckbox" aria-label="Shooter">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Simulation
                                            <input type="checkbox" class="genresCheckbox" aria-label="Simulation">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">Stealth
                                            <input type="checkbox" class="genresCheckbox" aria-label="Stealth">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Survival
                                            <input type="checkbox" class="genresCheckbox" aria-label="Survival">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Tactical
                                            <input type="checkbox" class="genresCheckbox" aria-label="Tactical">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Team Sports
                                            <input type="checkbox" class="genresCheckbox" aria-label="Team Sports">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitGenresButton" type="button" class="btn btn-primary hexButtons">Save
                        changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Age rating tag selection modal. -->
    <div id="ageRatingTagModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Select Age Restrictions</h3>
                </div>
                <div class="modal-body">
                    <div class="custom-control custom-checkbox">
                        <ul style="list-style-type:none;">
                            <li>
                                <label class="container">Includes in-game Purchases
                                    <input type="checkbox" class="ageRatingCheckbox"
                                        aria-label="Includes in-game purchases">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Encourages Gambling
                                    <input type="checkbox" class="ageRatingCheckbox" aria-label="Encourages Gambling">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Frightening to Children
                                    <input type="checkbox" class="ageRatingCheckbox"
                                        aria-label="Frightening to Children">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Nudity or Sexual Behaviour
                                    <input type="checkbox" class="ageRatingCheckbox"
                                        aria-label="Nudity or Sexual Behaviour">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Bad Language
                                    <input type="checkbox" class="ageRatingCheckbox" aria-label="Bad Language">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Violence
                                    <input type="checkbox" class="ageRatingCheckbox" aria-label="Violence">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Drug Usage
                                    <input type="checkbox" class="ageRatingCheckbox" aria-label="Drug Usage">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Online Interaction
                                    <input type="checkbox" class="ageRatingCheckbox" aria-label="Online Interaction">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitAgeRatingsButton" type="button" class="btn btn-primary hexButtons">Save
                        changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Platform tag selection modal. -->
    <div id="platformTagModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Select Platforms</h3>
                </div>
                <div class="modal-body">
                    <div class="custom-control custom-checkbox">
                        <div class="row">
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">Xbox
                                            <input type="checkbox" class="platformCheckbox" aria-label="Xbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Xbox 360
                                            <input type="checkbox" class="platformCheckbox" aria-label="Xbox 360">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Xbox One
                                            <input type="checkbox" class="platformCheckbox" aria-label="Xbox One">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Xbox One X
                                            <input type="checkbox" class="platformCheckbox" aria-label="Xbox One X">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">PlayStation
                                            <input type="checkbox" class="platformCheckbox" aria-label="PlayStation">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">PlayStation 2
                                            <input type="checkbox" class="platformCheckbox" aria-label="PlayStation 2">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">PlayStation 3
                                            <input type="checkbox" class="platformCheckbox" aria-label="PlayStation 3">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">PlayStation 4
                                            <input type="checkbox" class="platformCheckbox" aria-label="PlayStation 4">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">PlayStation Pro
                                            <input type="checkbox" class="platformCheckbox"
                                                aria-label="PlayStation Pro">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">PlayStation Vita
                                            <input type="checkbox" class="platformCheckbox"
                                                aria-label="PlayStation Vita">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Dreamcast
                                            <input type="checkbox" class="platformCheckbox" aria-label="Dreamcast">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul style="list-style-type:none;">
                                    <li>
                                        <label class="container">GameBoy Colour
                                            <input type="checkbox" class="platformCheckbox" aria-label="GameBoy Colour">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">GameBoy Advance
                                            <input type="checkbox" class="platformCheckbox"
                                                aria-label="GameBoy Advance">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Nintendo DS
                                            <input type="checkbox" class="platformCheckbox" aria-label="Nintendo DS">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Nintendo 3DS
                                            <input type="checkbox" class="platformCheckbox" aria-label="Nintendo 3DS">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Nintendo Switch
                                            <input type="checkbox" class="platformCheckbox"
                                                aria-label="Nintendo Switch">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Nintendo Wii
                                            <input type="checkbox" class="platformCheckbox" aria-label="Nintendo Wii">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Nintendo GameCube
                                            <input type="checkbox" class="platformCheckbox"
                                                aria-label="Nintendo GameCube">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Nintendo 64
                                            <input type="checkbox" class="platformCheckbox" aria-label="Nintendo 64">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">NES
                                            <input type="checkbox" class="platformCheckbox" aria-label="NES">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">SNES
                                            <input type="checkbox" class="platformCheckbox" aria-label="SNES">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container">Sega Genesis
                                            <input type="checkbox" class="platformCheckbox" aria-label="Sega Genesis">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submitPlatformsButton" type="button" class="btn btn-primary hexButtons">Save
                        changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Successful post modal. -->
    <div id="successfulPostModal" class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3 id="successModalTitle" class="modal-title">Please Wait...</h3>
                        <div id="successfulPostModalSpinner" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <i id="successIcon" class="material-icons md-48">done</i>
                        <i id="failureIcon" class="material-icons md-48">clear</i>
                    </div>
                </div>
                <div id="successfulPostModalFooter" class="modal-footer">
                    <button id="successfulModalCloseButton" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- All JavaScript material. -->

    <!-- JQuery JavaScript dependencies. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Boostrap JavaScript Dependencies. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Custom client JavaScript -->
    <script src="CommonLogic.js"></script>
    <script src="HexReviewsAddGamePageLogic.js"></script>

</body>

</html>