<!doctype html>
<html>

<head>
    <title>Hex Reviews</title>

    <!-- All stylesheets and UI material. -->

    <!-- Bootstrap Stylesheet dependencies. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom client stylesheets. -->
    <link rel="stylesheet" href="CommonStylesheet.css">
    <link rel="stylesheet" href="Animations.css">
    <link rel="stylesheet" href="HexReviewsTitlePageStylesheet.css">

    <!-- Custom icons and fonts. -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link id="favicon" rel="icon" href="/Images/FaviconGreen.png" type="image/png" sizes="16x16">

</head>

<body>

    <!-- Top navigation bar. -->
    <nav class="navbar navbar-expand-lg navbar-dark hexNavbar">
        <a id="navTitle" class="navbar-brand" href="#">Hex Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="navLogin" class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a id="navCreateAccount" class="nav-link" href="#">Create Account</a>
                </li>
                <li class="nav-item">
                    <a id="navTerms" class="nav-link" href="#">Terms of Use</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="titleContainer">
        <h1 id="mainTitle">Hex Reviews</h1>
    </div>

    <div id="mainPageImageContainer">
        <img id="mainPageImageGrey" src="/Images/MainLogoGreyNoText.png" alt="">
        <img id="mainPageImage" src="/Images/MainGreenLogoNoText.png" alt="">
        <img id="mainPageImageGrey" src="/Images/MainLogoGreyNoText.png" alt="">
    </div>

    <div id="mainButtonDiv">
        <button id="titlePageLoginButton" class="bigMainButton hexButtons">Login</button>
        <button id="titlePageSignUpButton" class="bigMainButton hexButtons">Sign Up</button>
    </div>

    <!-- Terms of Use modal. -->
    <div id="termsModal" class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="successModalTitle" class="modal-title">Terms of Use</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <p id="termsText">
                            By accessing and using Hex Reviews, you agree not to use the service for any purpose that is unlawful or prohibited by the terms stated below.
                            You agree NOT to use the services:
                            <br><br>
                            1.	To harass, threaten or abuse any other user on the site through means of writing text or otherwise.
                            <br><br>
                            2.	To post or submit any content that obscene, pornographic, abusive in nature or that infringes any copyright laws.
                            <br><br>
                            3.	To create multiple accounts for abusive purposes or for personal gain.
                            <br><br>
                            4.	For any purpose that is not permitted under the laws of where you are using the services from.
                            <br><br>
                            5.	To create or send any unnecessary spam in an abusive or offensive manner to other member of the site.
                            <br><br>
                            6.	To communicate with the Hex Reviews administrators in an abusive or offensive manner.                            
                        </p>
                    </div>
                </div>

                <div id="successfulPostModalFooter" class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- All JavaScript material. -->

    <!-- JQuery JavaScript dependencies. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Boostrap JavaScript Dependencies. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Custom client JavaScript -->
    <script src="CommonLogic.js"></script>
    <script src="HexReviewsTitlePageLogic.js"></script>

</body>

</html>